* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------NAV BAR-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

header {
  width: 100%;
  height: 200px;
  background: #ffffff;
  /* position: absolute; */
}

header h3 {
  font-style: normal;
  font-weight: 700;
  font-weight: bold;
  width: 125px;
  height: 40px;
  color: #354463;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 45px;
  left: 32px;
}

header ul {
  position: absolute;
  right: 38px;
  top: 32px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #354463;
  font-size: 14px;
  line-height: 26px;
}

header h4 {
  text-align: center;
  position: relative;
  top: 88px;
  margin: auto;
  background: #c1f7d5;
  width: 312px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h4 a {
  text-decoration: none;
  font-size: 18px;
  color: #354463;
  font-weight: bold;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  header {
    height: 128pt;
  }

  header h3 {
    top: 20pt;
    left: 64pt;
    width: 150pt;
    height: 63pt;
    font-size: 22pt;
  }
  header ul {
    top: 92pt;
    left: 36pt;
  }
  header ul li {
    display: inline;
  }

  header ul li a {
    top: 0pt;
    margin-left: 31pt;
    font-size: 16pt;
  }

  header h4 {
    position: absolute;
    top: 40pt;
    right: 64pt;
    width: 140pt;
    height: 48pt;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  header {
    height: 128px;
  }

  header h3 {
    top: 34px;
  }

  header ul {
    top: 59px;
    left: 350px;
  }

  header ul li a {
    margin-left: 100px;
  }

  header h4 {
    top: 40px;
    right: 30px;
    width: 160px;
    height: 48px;
  }
}

/*-----------------------------------CLIMATE CHANGE-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.climate {
  background: url(/images/climate_mob.jpg) no-repeat 100% center;
  width: 100%;
  height: 592px;
  background-size: cover;
}

.climate h3 {
  font-family: flood-std, sans-serif;
  color: #ffffff;
  font-size: 44px;
  font-style: normal;
  position: relative;
  width: 181px;
  height: 136px;
  top: 32px;
  left: 32px;
}

.climate h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 148px;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
}

.climate .change {
  background: #ffffff;
  width: 312px;
  height: 240px;
  display: block;
  margin: auto;
  position: relative;
  top: 128px;
}

.climate .change p,
a {
  color: #354463;
  text-align: center;
}

.climate .change p {
  font-size: 22px;
  width: 278px;
  height: 78px;
  display: block;
  margin: auto;
  position: relative;
  top: 56px;
  font-weight: bold;
}

.climate .change a {
  position: absolute;
  top: 167px;
  left: 10%;
  width: 248px;
  height: 42px;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .climate {
    background: url(/images/climate_tab.jpg);
    width: 100%;
    height: 688px;
    background-size: cover;
  }

  .climate h3 {
    position: relative;
    width: 181px;
    height: 136px;
    top: 69px;
    left: 64px;
  }

  .climate h4 {
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-left: 128px;
    z-index: 5;
  }

  .climate .change {
    width: 640px;
    height: 309px;
    margin-left: 64px;
    margin-top: 0;
  }

  .climate .change p {
    font-size: 36px;
    width: 512px;
    height: 138px;
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 59px;
    left: 64px;
  }

  .climate .change a {
    position: absolute;
    top: 229px;
    left: 67px;
    text-align: left;
    width: 376px;
    height: 16px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  .climate {
    background: url(/images/climate_desk.jpg);
    width: 100%;
    height: 672px;
    background-size: cover;
  }

  .climate h3 {
    font-size: 72px;
    position: relative;
    top: 136.67px;
    left: 839px;
  }

  .climate h4 {
    width: 160px;
    position: absolute;
    top: 240px;
    left: 224px;
  }

  .climate .change {
    width: 544px;
    height: 416px;
    position: absolute;
    top: 256px;
    left: 160px;
  }

  .climate .change p {
    font-size: 44px;
    width: 416px;
    height: 221px;
    font-weight: bold;
    position: absolute;
    top: 76px;
    left: 64px;
  }

  .climate .change a {
    position: absolute;
    top: 325px;
    left: 64px;
    text-align: left;
    width: 376px;
    height: 16px;
  }
}

/*-----------------------------------TAKE ACTION-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.action {
  background: #c1f7d5;
  width: 100%;
  height: 328px;
}

.contents {
  color: #354463;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 32px;
  top: 65px;
}

.contents div {
  width: 144px;
}

.contents .learn h2,
.volunteer h2,
.share h2,
.donate h2 {
  font-size: 18px;
}

.contents .learn p,
.volunteer p,
.share p,
.donate p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
}

.contents .share,
.contents .donate {
  margin-top: 27px;
}

.action h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -220px;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .action {
    height: 336px;
  }

  .contents {
    position: relative;
    left: 64px;
    top: 64px;
  }

  .contents div {
    width: 256px;
  }

  .contents .learn h2,
  .volunteer h2,
  .share h2,
  .donate h2 {
    font-size: 22px;
  }

  .contents .learn p,
  .volunteer p,
  .share p,
  .donate p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .contents .share,
  .contents .donate {
    margin-top: 44px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  .action {
    height: 240px;
  }

  .contents {
    position: relative;
    left: 160px;
    top: 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contents div {
    width: 232px;
  }

  .contents .volunteer,
  .share,
  .donate {
    margin-left: -64px;
  }

  .contents .share {
    margin-left: -134px;
  }

  .contents .donate {
    margin-left: -196px;
  }

  .contents .learn h2,
  .volunteer h2,
  .share h2,
  .donate h2 {
    font-size: 28px;
  }

  .contents .learn p,
  .volunteer p,
  .share p,
  .donate p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .contents .share,
  .contents .donate {
    margin-top: 0;
  }

  .action h4 {
    position: relative;
    top: -100px;
  }
}

/*-----------------------------------OUR MISSION-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.what-we-do {
  background: #354463;
  width: 100%;
  height: 1728px;
}

.mission {
  text-align: center;
  position: relative;
  top: 43px;
}

.mission h3 {
  background: #ffffff;
  width: 160px;
  height: 40px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission p {
  color: #ffffff;
  font-size: 22px;
  width: 302px;
  height: 134px;
  display: block;
  margin: 22px auto;
}

.planting {
  background: #ffffff;
  width: 312px;
  height: 415px;
  display: block;
  color: #354463;
  text-align: center;
  margin: 82px auto 0 auto;
}

.planting img {
  width: 248px;
  height: 176px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -33px;
}

.planting h4 {
  font-size: 18px;
  margin-bottom: 22px;
}

.planting p {
  width: 242px;
  font-size: 14px;
  display: block;
  margin: auto;
}

.mission-wrap .read-more {
  background: #c1f7d5;
  width: 152px;
  height: 40px;
  border-radius: 100px;
  display: block;
  margin: 31px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-wrap .read-more a {
  font-size: 16px;
  text-decoration: none;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .what-we-do {
    height: 1384px;
  }

  .mission {
    position: relative;
    top: 60px;
  }

  .mission h3 {
    position: relative;
    left: -236px;
  }

  .mission p {
    font-size: 36px;
    width: 640px;
    height: 140px;
    text-align: left;
  }

  .planting {
    width: 640px;
    height: 280px;
    display: block;
    margin: 138px auto 0 auto;
  }

  .planting:nth-child(2) {
    margin-top: 64px;
  }

  .planting:nth-child(3) {
    margin-top: 64px;
  }

  .planting img {
    width: 288px;
    height: 201px;
    object-fit: cover;
    position: relative;
    top: -32px;
    left: -145px;
  }

  .planting h4 {
    font-size: 22px;
    width: 144px;
    height: 50px;
    text-align: left;
    position: relative;
    left: 352px;
    top: -164px;
  }

  .planting p {
    width: 246px;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    position: relative;
    left: 158px;
    top: -156px;
  }

  .mission-wrap .read-more {
    position: relative;
    top: -232px;
    left: -88px;
  }

  .mission-wrap .read-more a {
    font-size: 18px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  .what-we-do {
    height: 1072px;
  }

  .mission {
    position: relative;
    top: 88px;
  }

  .mission h3 {
    position: absolute;
    left: 100px;
  }

  .mission p {
    font-size: 44px;
    width: 1122px;
    height: 140px;
    text-align: left;
    position: absolute;
    left: 100px; /*adjusted*/
    top: 51px;
  }

  .mission-wrap {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 30px; /*adjusted*/
    margin-right: 100px;
  }

  .planting {
    width: 320px;
    height: 528px;
    margin-top: 384px;
  }

  .planting:nth-child(2) {
    margin-top: 384px;
  }

  .planting:nth-child(3) {
    margin-top: 384px;
  }

  .planting img {
    width: 320px;
    height: 224px;
    object-fit: cover;
    position: relative;
    top: -32px;
    left: 32px;
  }

  .planting h4 {
    font-size: 28px;
    width: 270px; /*Adjusted*/
    height: 70px;
    position: relative;
    left: 32px;
    top: 0;
  }

  .planting p {
    width: 256px;
    position: relative;
    left: 5px;
    top: -17px;
  }

  .mission-wrap .read-more {
    position: relative;
    top: -12px;
    left: -45px;
  }

  .mission-wrap .read-more a {
    font-size: 18px;
  }
}

/*-----------------------------------HUNGER ISSUE-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.hunger {
  background: url(/images/survival_mob.jpg);
  width: 100%;
  height: 1008px;
  background-size: cover;
}

.hunger h3 {
  font-family: flood-std, sans-serif;
  color: #ffffff;
  font-size: 44px;
  width: 300px; /*adjusted from 312px*/
  height: 192px;
  position: relative;
  top: 64px;
  left: 32px;
}

.hunger .action-today {
  background: #c1f7d5;
  width: 152px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90px;
  left: 32px;
}

.hunger a {
  color: #354463;
  text-decoration: none;
  font-weight: bold;
}

.hunger .poverty {
  background: #ffffff;
  width: 312px;
  height: 136px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hunger .first {
  margin-top: 130px;
}

.hunger .second {
  margin-top: 16px;
}

.hunger .third {
  margin-top: 16px;
}
.hunger .fourth {
  margin-top: 16px;
}

.poverty .survival {
  margin-left: 32px;
  margin-top: 34px;
}

.poverty h5 {
  color: #354463;
  font-size: 22px;
}

.poverty p {
  font-size: 14px;
  width: 198px;
  height: 34px;
  color: #354463;
  line-height: 18px;
  margin-top: 16px;
}

.poverty .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 32px 24px 0;
}

.poverty .icon a {
  background: #c1f7d5;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hunger h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
  top: 150px;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .hunger {
    background: url(/images/survival_desk.jpg);
    width: 100%;
    height: 833px;
    background-size: cover;
  }

  .hunger {
    display: flex;
    justify-content: space-between;
  }

  .hunger h3 {
    width: 193px;
    height: 228px;
    margin-left: 32px;
    margin-top: 3px;
  }

  .hunger .action-today {
    width: 156px;
    height: 40px;
    border-radius: 100px;
    margin-left: 32px;
    margin-top: 26px;
  }

  .hunger .poverty {
    width: 384px;
    height: 152px;
    margin-right: 64px;
  }

  .hunger .first {
    margin-top: 65px;
  }

  .hunger .second {
    margin-top: 32px;
  }

  .hunger .third {
    margin-top: 32px;
  }
  .hunger .fourth {
    margin-top: 32px;
  }

  .poverty .survival {
    margin-left: 32px;
    margin-top: 29px;
  }

  .poverty h5 {
    font-size: 36px;
  }

  .poverty p {
    font-size: 16px;
    width: 224px;
    height: 44px;
    line-height: 24px;
    margin-top: 12px;
  }

  .poverty .icon {
    margin: 32px 32px 32px 0;
  }

  .hunger h4 {
    position: absolute;
    top: 2620px;
    right: 255px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  .hunger {
    height: 1279px;
  }

  .hunger h3 {
    font-size: 72px;
    width: 437px;
    height: 300px;
    margin-left: 100px;
    margin-top: 83.81px;
  }

  .hunger .action-today {
    width: 160px;
    margin-left: 100px;
    margin-top: 44.19px;
  }

  .hunger .poverty {
    width: 544px;
    height: 232px;
    margin-right: 160px;
  }

  .hunger .first {
    margin-top: 128px;
  }

  .hunger .second {
    margin-top: 32px;
  }

  .hunger .third {
    margin-top: 32px;
  }
  .hunger .fourth {
    margin-top: 32px;
  }

  .poverty .survival {
    margin-left: 64px;
    margin-top: 62px;
  }

  .poverty h5 {
    font-size: 44px;
  }

  .poverty p {
    font-size: 20px;
    width: 336px;
    height: 68px;
    line-height: 30px;
    margin-top: 5px;
  }

  .poverty .icon {
    margin: 76px 56px 76px 0;
  }

  .hunger h4 {
    position: absolute;
    top: 2220px;
    right: 481px;
  }
}

/*-----------------------------------HUNGER ISSUE-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.stories h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  position: relative;
  top: 36px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}

.stories img {
  width: 312px;
  height: 312px;
  object-fit: cover;
  display: block;
  margin: 14px auto 32px auto;
}

.stories .help {
  background: #354463;
  width: 312px;
  height: 296px;
  display: block;
  margin: auto;
}

.stories .help p {
  color: #ffffff;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  width: 248px;
  height: 203px;
  padding-top: 29px;
}

.stories .help h5 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  margin-top: 17px;
}

.stories .read-more {
  background: #c1f7d5;
  width: 156px;
  height: 40px;
  border-radius: 100px;
  display: block;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories .read-more a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .stories h4 {
    margin: 0;
    position: relative;
    top: 47px;
    left: 128px;
  }

  .stories img {
    width: 576px;
    height: 568px;
    margin-left: 64px;
    margin-top: 24px;
  }

  .stories .help {
    width: 576px;
    height: 287px;
    margin-left: 128px;
    position: relative;
    top: -93px;
  }

  .stories .help p {
    text-align: left;
    width: 450px;
    height: 106px;
    padding-top: 61px;
    margin-left: 64px;
  }

  .stories .help h5 {
    font-size: 14px;
    text-align: left;
    margin-top: 110px;
    margin-left: 64px;
  }

  .stories .read-more {
    margin-top: -60px;
    margin-left: 128px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1150px) {
  .stories {
    width: 1120px;
    display: block;
    margin: auto;
    margin-bottom: 128px;
  }

  .stories h4 {
    margin: 0;
    position: relative;
    top: 110px;
    left: 544px;
    z-index: 1;
  }

  .stories img {
    width: 640px;
    height: 568px;
    margin: 0;
    position: relative;
    left: 480px;
    margin-top: 90px;
  }

  .stories .help {
    width: 544px;
    height: 344px;
    margin-left: 0px;
    margin-top: -362px;
  }

  .stories .help p {
    width: 416px;
    height: 196px;
    font-size: 28px;
    line-height: 36px;
    padding-top: 52px;
    margin-left: 64px;
  }

  .stories .help h5 {
    margin-top: 60px;
    margin-left: 64px;
  }

  .stories .read-more {
    margin-top: -28px;
    margin-left: 0px;
  }
}

/*-----------------------------------SAVE THE FUTURE-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.future {
  background: #354463;
  width: 100%;
  padding-bottom: 55px;
}

.future h2 {
  font-family: flood-std, sans-serif;
  font-size: 44px;
  color: #ffffff;
  width: 312px;
  height: 186px;
  display: block;
  margin: auto;
  padding-top: 69px;
  text-align: center;
}
.future h5 {
  background: #ffffff;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: -332px;
}

.future img {
  width: 312px;
  height: 312px;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 173px;
}

.future h3 {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  width: 300px; /*adjusted from 313px*/
  display: block;
  margin: auto;
  margin-top: -10px;
}

.future p {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 280px; /*adjusted from 313px*/
  height: 128px;
  display: block;
  margin: auto;
  margin-top: 24px;
}

.future .read-more {
  background: #c1f7d5;
  width: 156px;
  height: 40px;
  border-radius: 100px;
  display: block;
  margin: 17px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.future .read-more a {
  font-size: 18px;
  text-decoration: none;
}

.future:last-child(3) {
  background-color: black;
  width: 100%;
}
.future .news {
  margin-top: -75px;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 700px) {
  .future {
    /* padding-bottom: 55px; */
  }

  .future h2 {
    width: 518px;
    height: 90px;
    margin: 0;
    margin-left: 64px;
    padding-top: 66.81px;
    text-align: left;
  }

  .future-wrap .event {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 632px;
    height: 451px;
    margin-top: 140px;
  }

  .future h5 {
    top: 0px;
    margin: 0;
  }

  .future img {
    width: 288px;
    height: 288px;
    object-fit: cover;
    margin: 0;
  }

  .future .earth-day {
    margin-left: 14px;
  }

  .future h3 {
    font-size: 28px;
    line-height: 36px;
    text-align: left;
    width: 216px;
    margin: 0;
    margin-top: 36px;
  }

  .future p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    width: 280px;
    height: 170px;
    margin: 0;
    margin-top: 33px;
  }

  .future .read-more {
    margin: 0;
    margin-top: 32px;
  }

  .future .news {
    margin-top: -48px;
  }
}
