* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 200px;
  background: #ffffff;
  position: absolute;
  border-bottom: 4px solid black;
}

header h3 {
  font-family: PoynterOSDisp;
  font-weight: bold;
  width: 125px;
  height: 40px;
  color: #354463;
  font-size: 18px;
  position: relative;
  top: 32px;
  left: 45px;
}

header ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 30px;
  position: relative;
  left: 200px;
}
header ul li a {
  text-decoration: none;
  font-family: Komet;
  color: #354463;
  font-size: 14px;
}
