* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------MOBILE VERSION------------------*/

/*----------------NAV BAR------------------*/

header {
  width: 100%;
  height: 200px;
  background: #ffffff;
  /* position: absolute; */
}

header h3 {
  font-style: normal;
  font-weight: 700;
  font-weight: bold;
  width: 125px;
  height: 40px;
  color: #354463;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 45px;
  left: 32px;
}

header ul {
  position: absolute;
  right: 38px;
  top: 32px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #354463;
  font-size: 14px;
  line-height: 26px;
}

header h4 {
  text-align: center;
  position: relative;
  top: 88px;
  margin: auto;
  background: #c1f7d5;
  width: 312px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h4 a {
  text-decoration: none;
  font-size: 18px;
  color: #354463;
  font-weight: bold;
}

/*----------------CLIMATE CHANGE------------------*/

.climate {
  background: url(/images/climate_mob.jpg) no-repeat 100% center;
  width: 100%;
  height: 592px;
  background-size: cover;
}

.climate h3 {
  font-family: flood-std, sans-serif;
  color: #ffffff;
  font-size: 44px;
  font-style: normal;
  position: relative;
  width: 181px;
  height: 136px;
  top: 32px;
  left: 32px;
}

.climate h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 148px;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
}

.climate .change {
  background: #ffffff;
  width: 312px;
  height: 240px;
  display: block;
  margin: auto;
  position: relative;
  top: 128px;
}

.climate .change p,
a {
  color: #354463;
  text-align: center;
}

.climate .change p {
  font-size: 22px;
  width: 278px;
  height: 78px;
  display: block;
  margin: auto;
  position: relative;
  top: 56px;
  font-weight: bold;
}

.climate .change a {
  position: absolute;
  top: 167px;
  left: 10%;
  width: 248px;
  height: 42px;
}

/*----------------TAKE ACTION------------------*/

.action {
  background: #c1f7d5;
  width: 100%;
  height: 328px;
}

.contents {
  color: #354463;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 32px;
  top: 65px;
}

.contents div {
  width: 144px;
}

.contents .learn h2,
.volunteer h2,
.share h2,
.donate h2 {
  font-size: 18px;
}

.contents .learn p,
.volunteer p,
.share p,
.donate p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
}

.contents .share,
.contents .donate {
  margin-top: 27px;
}

.action h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -220px;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
}

/*-------TAB VERSION----------*/
@media screen and (min-width: 700px) {
  /*------------NAV BAR----------------*/

  header {
    height: 128pt;
  }

  header h3 {
    top: 20pt;
    left: 64pt;
    width: 150pt;
    height: 63pt;
    font-size: 22pt;
  }
  header ul {
    top: 92pt;
    left: 36pt;
  }
  header ul li {
    display: inline;
  }

  header ul li a {
    top: 0pt;
    margin-left: 31pt;
    font-size: 16pt;
  }

  header h4 {
    position: absolute;
    top: 40pt;
    right: 64pt;
    width: 140pt;
    height: 48pt;
  }

  /*----------------CLIMATE CHANGE------------------*/

  .climate {
    background: url(/images/climate_desk.jpg);
    width: 100%;
    height: 688px;
    background-size: cover;
  }

  .climate h3 {
    position: relative;
    width: 181px;
    height: 136px;
    top: 69px;
    left: 64px;
  }

  .climate h4 {
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 411px;
    left: 128px;
    z-index: 5;
  }

  .climate .change {
    width: 640px;
    height: 309px;
    position: absolute;
    top: 427px;
    left: 64px;
  }

  .climate .change p {
    font-size: 36px;
    width: 512px;
    height: 138px;
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 59px;
    left: 64px;
  }

  .climate .change a {
    position: absolute;
    top: 229px;
    left: 67px;
    text-align: left;
    width: 376px;
    height: 16px;
  }

  /*----------------TAKE ACTION------------------*/

  .action {
    height: 336px;
  }

  .contents {
    position: relative;
    left: 64px;
    top: 64px;
  }

  .contents div {
    width: 256px;
  }

  .contents .learn h2,
  .volunteer h2,
  .share h2,
  .donate h2 {
    font-size: 22px;
  }

  .contents .learn p,
  .volunteer p,
  .share p,
  .donate p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .contents .share,
  .contents .donate {
    margin-top: 44px;
  }
}
/*-----------------------DESKTOP VERSION--------------------------------------*/
@media screen and (min-width: 1100px) {
  /*------------NAV BAR----------------*/

  header {
    height: 128px;
  }

  header h3 {
    top: 34px;
  }

  header ul {
    top: 59px;
    left: 350px;
  }

  header ul li a {
    margin-left: 100px;
  }

  header h4 {
    top: 40px;
    right: 160px;
    width: 160px;
    height: 48px;
  }

  /*----------------CLIMATE CHANGE------------------*/

  .climate {
    background: url(/images/climate_desk.jpg);
    width: 100%;
    height: 672px;
    background-size: cover;
  }

  .climate h3 {
    font-size: 72px;
    position: relative;
    top: 136.67px;
    left: 839px;
  }

  .climate h4 {
    width: 160px;
    position: absolute;
    top: 240px;
    left: 224px;
  }

  .climate .change {
    width: 544px;
    height: 416px;
    position: absolute;
    top: 256px;
    left: 160px;
  }

  .climate .change p {
    font-size: 44px;
    width: 416px;
    height: 221px;
    font-weight: bold;
    position: absolute;
    top: 76px;
    left: 64px;
  }

  .climate .change a {
    position: absolute;
    top: 325px;
    left: 64px;
    text-align: left;
    width: 376px;
    height: 16px;
  }

  /*----------------TAKE ACTION------------------*/

  .action {
    height: 240px;
  }

  .contents {
    position: relative;
    left: 160px;
    top: 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contents div {
    width: 232px;
  }

  .contents .volunteer,
  .share,
  .donate {
    margin-left: -64px;
  }

  .contents .share {
    margin-left: -134px;
  }

  .contents .donate {
    margin-left: -196px;
  }

  .contents .learn h2,
  .volunteer h2,
  .share h2,
  .donate h2 {
    font-size: 28px;
  }

  .contents .learn p,
  .volunteer p,
  .share p,
  .donate p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .contents .share,
  .contents .donate {
    margin-top: 0;
  }

  .action h4 {
    position: relative;
    top: -100px;
  }
}
